@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    background: radial-gradient(ellipse at center, #0f081d56 0%, #000 120%);
    min-height: 200vh;
    margin: 0;
    color: #fff;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas#stars-background {
    position: fixed;
    z-index: -1;
}

header {
    background-color: #7700ff1e;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

#logo {
    height: 200px;
}

#logo img {
    max-height: 100%;
}

.section {
    background-color: #1313133d;
    backdrop-filter: blur(2px);
    padding: 20px;
    width: 80%;

    &:not(:last-of-type) {
        margin-bottom: 30px;
    }

}

.dropdown {

    position: relative;
    background-color: #131313;

    h3,
    p {
        margin: 0;
        width: fit-content;
    }

    .title,
    .desc {
        position: relative;
        padding: 20px;
    }

    .desc {
        display: none;
    }

    .title::after {
        content: "";
        position: absolute;
        height: clamp(60px, 80%, 80px);
        aspect-ratio: 1/1;
        background-image: url(img/arrow-dropdown.svg);
        background-repeat: no-repeat;
        background-size: contain;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    &.open> {
        .title {
            border-bottom: #fff solid 2px;
        }

        .title::after {
            transform: translateY(-50%) rotate(180deg);
        }

        .desc {
            display: block;
        }

    }
}

#technologies {
    display: grid;
    grid-template-columns: 40% 60%;

    .left {
        margin-right: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media (max-width: 700px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
        width: 300px;
        border-radius: 10px;
        background-color: #131313;
        padding: 20px;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            height: 50%;
        }

    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width:1000px) {
            flex-direction: column;
        }

    }

}

#games {
    display: flex;
    flex-direction: column;
    align-items: center;

    #game-select {
        display: flex;
        gap: 30px;

        button {
            border-radius: 100px;
            background-color: #131313;
            border: #fff 2px solid;
            padding: 10px;
            color: #fff;
            cursor: pointer;

            &:hover {
                filter: brightness(0.8);
            }
        }

        button.selected {
            background-color: #007c85;
        }
    }

    .control-buttons {
        margin: 10px;
        margin-left: 0;
        display: flex;
        gap: 20px;

        button {
            height: 100px;
            width: 100px;
            border-radius: 20px;
            border: none;
            color: #fff;
            font-size: 11pt;
            font-weight: bold;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            span {
                height: fit-content;
                width: fit-content;
            }

            &:hover {
                filter: brightness(0.8);
            }
        }

        .start {
            background-color: #00853c;

            .icon {
                background: url(img/play.svg);
                height: 50%;
                aspect-ratio: 1/1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .stop {

            background-color: #d60000;

            .icon {
                background: url(img/stop.svg);
                height: 50%;
                aspect-ratio: 1/1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }

    }

    #asteroids,
    #catchstar {
        display: none;
    }

    #asteroids {
        canvas {
            width: 300px;
            height: 300px;
            border: #fff solid 2px;
            background-color: #080808;
        }

        .game-place {
            display: flex;
            align-items: start;
            gap: 20px;

            @media (max-width:500px) {
                flex-direction: column;
                align-items: center;
            }

            .side {
                flex-direction: column;
                align-items: center;
                display: flex;
                gap: 10px;
            }
        }

        .lives {
            display: flex;
            align-items: center;
            background-color: #fff;
            color: #000;
            width: 100px;
            height: 40px;
            border-radius: 30px;
            padding: 10px;

            span {
                margin-left: 10px;
            }
        }
    }

    #catchstar {
        #star-box {
            width: 300px;
            height: 300px;
            border: #fff solid 2px;
            background-color: #080808;
            position: relative;
            box-sizing: content-box;
        }

        .star {
            border-radius: 100%;
            background-color: #ffc400;
            cursor: pointer;
            position: absolute;
            display: none;
        }
    }
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 50px 0;
    h2 {
        margin-top: 0;
    }
    .qr {
        img {
            max-height: 200px;
            border-radius: 10px;
            filter: 
            drop-shadow(0 0 4px rgba(162, 0, 255, 0.548))
            drop-shadow(0 0 8px rgba(162, 0, 255, 0.548))
            drop-shadow(0 0 16px rgba(162, 0, 255, 0.548));
        }
    }
    a {
     color: #fff;
     margin: 10px;
     &:hover {
        filter: brightness(0.7);
     }
    }
}
footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7700ff1e;
    width: 100%;
}
